/*Establish Body details*/
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #497D74;
    background-image: url("Assets/feesh64xbg.png");
    font-family: 'Comic Neue';
}
/*---------------------------------------------------------*/

/*Grid establishment*/
.container{
    display: inline-grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(7, 100px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-gap: 5px;
    grid-template-areas:
        'main main main main main item2 item2 item2'
        'main main main main main item2 item2 item2'
        'main main main main main item3 item3 item3'
        'main main main main main item3 item3 item3'
        'main main main main main item4 item4 item4'
        'main main main main main item4 item4 item4'
        'footer footer footer footer footer footer footer footer';
    text-align: center;
    padding-top: 2%;
}
.nav{
    /*background-color: orange;*/
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.item{
    background-color: #27445D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item1 {
    grid-area: 1/2/7/8;
}
.item2{
    grid-area: 7/2/7/8;
}
.item3 {
    grid-area: 1/2/1/4;
}
.item4 {
    grid-area: 1/4/1/6;
}
/*-Main Content Styling-*/
.mainContent{
    height: 610px;
    width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #EFE9D5;
}
.mainContent-Content {
    height: 590px;
    width: 590px;
    border: 2px dashed #71BBB2;
    border-radius: 10px;
    overflow:scroll;
    text-align: center;
}
/*-Main Content Styling-*/
.footerContent{
    height: 90px;
    width: 610px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center; 
    background-image: url("Assets/tackleBox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.footerContent:active {
  animation-name: example;
  border-radius: 10px;
  background-color: antiquewhite;
  background-image: url("https://wiki.fishingplanet.com/images/c/c0/Longnose_Gar.png");
  background-size: contain;
  background-position: center;
}

.footerContent-Content > img {
    padding-top: 20px;
    padding-bottom: 20px;
}

a:link, a:visited {
    display: block;
    width:100px;
    margin: 5px auto;
    border-radius: 10px;
    color: #EFE9D5;
    background-color: #ff6700;
    text-decoration: none;
}
a:hover, a:active {
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #ff9a00;
    text-decoration: none;
}