/*Establish Body details*/
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #497D74;
    background-image: url("Assets/feesh64xbg.png");
    font-family: 'Comic Neue';
}
/*---------------------------------------------------------*/

/*Grid establishment*/
.container{
    display: inline-grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(7, 100px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-gap: 5px;
    grid-template-areas:
        'a main main main main main main b'
        'a main main main main main main b'
        'a main main main main main main b'
        'a main main main main main main b'
        'a main main main main main main b'
        'a main main main main main main b'
        'a footer footer footer footer footer footer b';
    text-align: center;
    padding-top: 2%;
}
.item{
    background-color: #27445D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item1 {
    grid-area: main;
}
.item2 {
    grid-area: footer;
}
/*---------------------------------------------------------*/

/*Establish Content Divs*/
.mainContent{
    height: 610px;
    width: 610px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #EFE9D5;
}
.footer {
    height: 90px;
    width: 610px;
    border-radius: 11px;

    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #EFE9D5;
}
/*---------------------------------------------------------*/

/*Establish ACTUAL content*/
.mainContent-Content {
    height: 600px;
    width: 600px;
    border: 2px dashed #71BBB2;
    border-radius: 10px;
    overflow:scroll;
    text-align: center;
    position: relative;
}
.footer-Content{
    height: 90px;
    width: 610px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("Assets/tackleBox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.footer-Content:active {
  animation-name: example;
  background-image: url("https://wiki.fishingplanet.com/images/c/c0/Longnose_Gar.png");
    border-radius: 10px;
  background-size: contain;
  background-position: center;
}

.footer-Content > img {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*nav formatting*/
a:link, a:visited {
    display: inline-block;
    width: 100px;
    margin: 5px auto;
    border-radius: 10px;
    color: #EFE9D5;
    background-color: #ff6700;
    text-decoration: none;
}
a:hover, a:active {
    margin: 5px auto;
    background-color: #ff9a00;
}
/*---------------------------------------------------------*/
.badges {
    display: flex;
    padding: 5px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
/*Paragraph styling*/
p {
    padding-left: 10px;
    padding-right: 10px;
}

/*Color palette: https://colorhunt.co/palette/27445d497d7471bbb2efe9d5 */
