<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="item item1">
            <div class="mainContent">
                <div class="mainContent-Content">
                    <h1>About this site</h1>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="item item2">
                <div class="footerContent">
                </div>
            </div>
        </div>
    </div>
</body>
</html>