{% extends 'base.html' %}
{% block title %}
    <h1>Welcome to my Website!</h1>
{% endblock %}
{% block content %}
    <p> This website will host some of my projects, content, and random fun!</p>
    <p> If you are interested in joining the BlueSky network, please contact me on bluesky!</p>
    <p> The content displayed here is TEMPORARY and will host more blog like updates in the future.</p>
    <p> i wonder whats in the tackle box...</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p> {{ dogFact }}</p>
{% endblock %}